remote_host = "xcphost1"
remote_username = "root"
#remote_password = "password"
sr_iso_name = "nfs_iso"
iso = "https://releases.ubuntu.com/noble/ubuntu-24.04-live-server-amd64.iso"

template_name = "Packer Template Ubuntu 24.04"
template_description = "VM Template for Ubuntu 22.04"
template_cpu = "2"
template_ram = "2048" #MB
template_disk = "20480" #MB
template_networks = ["eth0"]
template_tags = ["Ubuntu","Packer"]
sr_name = "templateStorageSR"
ssh_username = "elsudo"
#ssh_password = "password"